
{% extends './base.html' %}
{% load static %}

{% block title %}
レシピ投稿
{% endblock  %}


{% block content1 %}
    <div class="create-recipe-form-area">
        {% if is_edit %}
        <h1 id="header-title-recipe-create-page">レシピ編集</h1>
        {% else %}
        <h1 id="header-title-recipe-create-page">レシピ投稿</h1>
        {% endif %}
        <hr>
        <form action="{% url 'recipe:recipe_create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="create-form form-recipe-title">
                <label for="id_recipe_title">タイトル</label>
                {{ form.recipe_title }}
                <div class="form-error-area">
                    {% if form.recipe_title.errors %}
                        {% for error in form.recipe_title.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="create-form recipe-image-area">
                <label for="id_recipe_image">レシピ紹介画像</label>
                {{ form.recipe_image }}
                {% for error in form.recipe_image.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="create-form form-recipe-sentence">
                <label for="id_recipe_sentence">レシピ紹介文</label>
                {{ form.recipe_sentence}}
                <div class="form-error-area">
                    {% if form.recipe_sentence.errors %}
                        {% for error in form.recipe_sentence.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="create-form form-category-choice">
                <label for="id_category_id_choice">カテゴリー</label>
                {{ form.category_id_choice}}
                <div class="form-error-area">
                    {% if form.category_id_choice.errors %}
                        {% for error in form.category_id_choice.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="create-form form-material-choice">
                <label for="id_material_id_multi_choice">材料</label>
                {{ form.material_id_multi_choice }}
                <div class="form-error-area">
                    {% if form.material_id_multi_choice.errors %}
                        {% for error in form.material_id_multi_choice.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="submit-button-area create-form">
                <input type="submit" value="保存">
            </div>
        </form>
    </div>
{% endblock  %}

{% block js %}
<script src={% static 'recipe/js/recipe_create.bundle.js' %}></script>
{% endblock %}